{% extends 'base.html' %}
{% block content %}
<form id="meuform" method ="POST">
{% csrf_token %}
</br>
</br>
</br>
</br>
</br>
</br>
  <ul id="progress">
    <li class="ativo">Cadastro do Fornecedor</li>
    <li>Descrição do Fornecedor </li>
    <li>Descrição de Recebimento</li>
  </ul>
  <fieldset>
      <h3>Cadastre  o Fornecedor</h3>
      <input type="text" name="pessoa_contato" placeholder="Pessoa para Contato"/>
      <input type="text" name="cpf_cnpj" placeholder="CPF/CNPJ"/>
      <input type="text" name="razao" placeholder="Razão Social"/>
      </br>
      <input type="button" name="next" class="next acao" value="Proximo"/>
  </fieldset>

  <fieldset>
      <h3>Cadastre informações Pessoais</h3>
      <input type="text" name="telefone" placeholder="Telefone"/>
      <input type="text" name="endereco" placeholder="Endereço"/>  
      <input type="text" name="cep" placeholder="CEP"/>
      <input type="text" name="desc_produto" placeholder="Descrição"/>
      </br>
      <input type="button" name="prev" class="prev acao" value="Anterior"/>
      <input type="button" name="next" class="next acao" value="Proximo"/>
   </fieldset>

   <fieldset>
      <h3>Recebimento de Matéria-Prima</h3>
      <input type="text" name="data_recebimento" placeholder="Data de Recebimento"/>
      <input type="text" name="id" placeholder="Código de Fornecedor"/>
      </br>
      <input type="button" name="prev" class="prev acao" value="Anterior"/>
      <input type="submit" name="next" class="next acao" value="Proximo"/>
    </fieldset>

</form>
{% endblock %}
